C_src/hough_software.hpp linguist-vendored
ip_repo/axi_dynclk/* linguist-vendored
ip_repo/axi_dynclk/bd/* linguist-vendored
ip_repo/axi_dynclk/drivers/dynclk/data/* linguist-vendored
ip_repo/axi_dynclk/drivers/dynclk/src/* linguist-vendored
ip_repo/axi_dynclk/src/* linguist-vendored
ip_repo/axi_dynclk/xgui/* linguist-vendored
ip_repo/dvi2rgb/* linguist-vendored
ip_repo/dvi2rgb/docs/* linguist-vendored
ip_repo/dvi2rgb/gui/* linguist-vendored
ip_repo/dvi2rgb/src/* linguist-vendored
ip_repo/dvi2rgb/src/ila_pixclk/* linguist-vendored
ip_repo/dvi2rgb/src/ila_refclk/* linguist-vendored
ip_repo/dvi2rgb/xgui/* linguist-vendored
ip_repo/overlay/* linguist-vendored
ip_repo/overlay/constraints/* linguist-vendored
ip_repo/overlay/doc/* linguist-vendored
ip_repo/overlay/hdl/verilog/* linguist-vendored
ip_repo/overlay/hdl/vhdl/* linguist-vendored
ip_repo/overlay/misc/* linguist-vendored
ip_repo/overlay/xgui/* linguist-vendored
ip_repo/reversi_accel_v1_0/* linguist-vendored
ip_repo/reversi_accel_v1_0/constraints/* linguist-vendored
ip_repo/reversi_accel_v1_0/doc/* linguist-vendored
ip_repo/reversi_accel_v1_0/hdl/ip/* linguist-vendored
ip_repo/reversi_accel_v1_0/hdl/verilog/* linguist-vendored
ip_repo/reversi_accel_v1_0/hdl/vhdl/* linguist-vendored
ip_repo/reversi_accel_v1_0/misc/* linguist-vendored
ip_repo/reversi_accel_v1_0/xgui/* linguist-vendored
ip_repo/reversi_accel_v1_1/* linguist-vendored
ip_repo/reversi_accel_v1_1/constraints/* linguist-vendored
ip_repo/reversi_accel_v1_1/doc/* linguist-vendored
ip_repo/reversi_accel_v1_1/hdl/ip/* linguist-vendored
ip_repo/reversi_accel_v1_1/hdl/verilog/* linguist-vendored
ip_repo/reversi_accel_v1_1/hdl/vhdl/* linguist-vendored
ip_repo/reversi_accel_v1_1/misc/* linguist-vendored
ip_repo/reversi_accel_v1_1/xgui/* linguist-vendored
ip_repo/rgb2dvi/* linguist-vendored
ip_repo/rgb2dvi/docs/* linguist-vendored
ip_repo/rgb2dvi/src/* linguist-vendored
ip_repo/rgb2dvi/xgui/* linguist-vendored
ip_repo/swap_GB/* linguist-vendored
ip_repo/swap_GB/src/* linguist-vendored
ip_repo/swap_GB/xgui/* linguist-vendored
ip_repo/tmds_v1_0/* linguist-vendored
Jupyter_demo/board_recognition.py linguist-vendored
Jupyter_eval/board_recognition.py linguist-vendored
overlay/2020_2/* linguist-vendored
overlay/2022_1/* linguist-vendored
vivado/* linguist-vendored